@* Remove this section if you are using bundling *@
@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Wachtwoord vergeten";

    bool passwordSent = false;
    var resetToken = "";
    var email = Request.Form["email"] ?? Request.QueryString["email"];

    // Setup validation
    Validation.RequireField("email", "U moet uw email adres invullen.");

    if (IsPost)
    {
        AntiForgery.Validate();
        // validate email
        bool isValid = true;
        if (Validation.IsValid())
        {
            if (WebSecurity.GetUserId(email) > -1 && WebSecurity.IsConfirmed(email))
            {
                resetToken = WebSecurity.GeneratePasswordResetToken(email); // Optionally specify an expiration date for the token
            }
            else
            {
                passwordSent = true; // We don't want to disclose that the user does not exist.
                isValid = false;
            }
        }
        if (isValid)
        {
            var hostUrl = Request.Url.GetComponents(UriComponents.SchemeAndServer, UriFormat.Unescaped);
            var resetUrl = hostUrl + VirtualPathUtility.ToAbsolute("~/Account/PasswordReset?resetToken=" + HttpUtility.UrlEncode(resetToken));
            WebMail.Send(
                to: email,
                subject: "Reset uw wachtwoord",
                body: "Gebruik deze code om uw wachtwoord te resetten. De code is: " + resetToken + @". Bezoek <a href=""" + HttpUtility.HtmlAttributeEncode(resetUrl) + @""">" + resetUrl + "</a> om uw wachtword te resetten."
            );
            passwordSent = true;
        }
    }
}



@if (!WebMail.SmtpServer.IsEmpty())
{


    if (passwordSent)
    {
        <p class="message-success">
            De reset instructies zijn naar uw email adres gestuurd.
        </p>
    }
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="logincard" >
                <form method="post">
                    @AntiForgery.GetHtml()
                    @Html.ValidationSummary(excludeFieldErrors: true)

                    <fieldset>
                        <center>
                            <h3>Wachtwoord reset</h3>
                            <h4>Vul hieronder uw email adres in</h4>
                        </center>
                        <hr/>
                                <label for="email" @if (!ModelState.IsValidField("email")) { <text> class="error-label" </text> }></label>
                                <div class="input-group">
                                    <span class="input-group-addon" id="sizing-addion1">&#64;</span>
                                    <input type="text" class="form-control" id="email" name="email" value="@email" disabled="@passwordSent" @Validation.For("email") />
                                </div>
                        <br/>
                                @Html.ValidationMessage("email")
                        <p class="form-actions">
                            <input type="submit" class="btn btn-default default-primary-color" value="Send instructions" disabled="@passwordSent" />
                        </p>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
}
else
{
                <p class="message-info">
                    Uw wachtwoord kan niet gereset worden. Neem contact op met de website beheerder.
                </p>
                }
