@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Wachtwoord vergeten";

    bool passwordSent = false;
    var resetToken = "";
    var email = Request.Form["email"].ToLower() ?? Request.QueryString["email"].ToLower();

    // Setup validation
    Validation.RequireField("email", "U moet uw email adres invullen.");

    if (IsPost)
    {
        AntiForgery.Validate();
        // validate email
        bool isValid = true;
        if (Validation.IsValid())
        {
            //If the user exist a resettoken is generated
            if (WebSecurity.GetUserId(email) > -1 && WebSecurity.IsConfirmed(email))
            {
                resetToken = WebSecurity.GeneratePasswordResetToken(email);
            }
            //If user doesn't exist
            else
            {
                passwordSent = true;
                isValid = false;
            }
        }
        //Send email
        if (isValid)
        {
            var hostUrl = Request.Url.GetComponents(UriComponents.SchemeAndServer, UriFormat.Unescaped);
            var resetUrl = hostUrl + VirtualPathUtility.ToAbsolute("~/Account/PasswordReset?resetToken=" + HttpUtility.UrlEncode(resetToken));
            WebMail.Send(
                to: email,
                subject: "Reset uw wachtwoord",
                body: "Gebruik deze code om uw wachtwoord te resetten. De code is: " + resetToken + @". Bezoek <a href=""" + HttpUtility.HtmlAttributeEncode(resetUrl) + @""">" + resetUrl + "</a> om uw wachtword te resetten."
            );
            passwordSent = true;
        }
    }
}


@*Checks if an smtpserver is set up*@
@if (!WebMail.SmtpServer.IsEmpty())
{

    //Instructions are send if user exists
    if (passwordSent)
    {
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="logincard">
                    <h3 class="message-success text-center">
                        De reset instructies zijn naar uw email adres gestuurd
                    </h3>
                </div>
            </div>
        </div>
    }
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="logincard">
                                <form method="post">
                                    @AntiForgery.GetHtml()
                                    @Html.ValidationSummary(excludeFieldErrors: true)
                                    @* Email adres field *@
                                    <fieldset>                                        
                                        <h3 class="text-center">Wachtwoord reset</h3>
                                        <h4 class="text-center">Vul hieronder uw email adres in</h4>                                        
                                        <hr />
                                        <label for="email" @if (!ModelState.IsValidField("email")) { <text> class="error-label" </text>  }></label>
                                        <div class="input-group">
                                            <span class="input-group-addon" id="sizing-addion1">&#64;</span>
                                            <input type="text" class="form-control" id="email" name="email" value="@email" disabled="@passwordSent" @Validation.For("email") />
                                        </div>
                                        <br />
                                        @Html.ValidationMessage("email")
                                        <p class="form-actions">
                                            <input type="submit" class="btn btn-default default-primary-color" value="Verstuur instructies" disabled="@passwordSent" />
                                        </p>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                    }
                    //Mail not send message
                    else
                    {
                    <p class="message-info">
                        Uw wachtwoord kan niet gereset worden. Neem contact op met de website beheerder.
                    </p>
                    }
