@* Remove this section if you are using bundling *@
@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Register";

    var name = "";
    var lastName = "";
    var email = "";
    var password = "";
    var confirmPassword = "";

    Validation.RequireField("email", "Je moet een geldig e-mailadres toevoegen.");
    Validation.RequireField("password", "Je wachtwoord mag niet niks zijn.");
    Validation.Add("confirmPassword",
        Validator.EqualsTo("password", "De wachtwoorden zijn niet gelijk aan elkaar."));
    Validation.Add("password",
        Validator.StringLength(
            maxLength: Int32.MaxValue,
            minLength: 6,
            errorMessage: "Wachtwoord moet minimaal 6 karakters lang zijn."));
    Validation.RequireField("name", "Je moet een naam invullen.");
    Validation.RequireField("lastName", "Je moet een achternaam invullen");

    if (IsPost) {
        AntiForgery.Validate();
        email = Request.Form["email"];
        password = Request.Form["password"];
        confirmPassword = Request.Form["confirmPassword"];
        name = Request.Form["name"];
        lastName = Request.Form["lastName"];

        // Validate the user's captcha answer
        // if (!ReCaptcha.Validate("PRIVATE_KEY")) {
        //     ModelState.AddError("recaptcha", "Captcha response was not correct");
        // }

        if (Validation.IsValid()) {
            var db = Database.Open("EBooksOnline");

            var user = db.QuerySingle("SELECT Email FROM UserProfile WHERE LOWER(Email) = LOWER(@0)", email);
            if (user == null) {
                db.Execute("INSERT INTO UserProfile (Email, name, lastName) VALUES (@0, @1, @2)", email, name, lastName);

                try {
                    bool requireEmailConfirmation = !WebMail.SmtpServer.IsEmpty();
                    var token = WebSecurity.CreateAccount(email, password, requireEmailConfirmation);
                    if (requireEmailConfirmation) {
                        var hostUrl = Request.Url.GetComponents(UriComponents.SchemeAndServer, UriFormat.Unescaped);
                        var confirmationUrl = hostUrl + VirtualPathUtility.ToAbsolute("~/Account/Confirm?confirmationCode=" + HttpUtility.UrlEncode(token));

                        WebMail.Send(
                            to: email,
                            subject: "Bevestig uw aanmelding",
                            body: "Uw bevestigingscode is: " + token + ". Bezoek <a href=\"" + confirmationUrl + "\">" + confirmationUrl + "</a> om uw account te activeren."
                        );
                    }

                    if (requireEmailConfirmation) {
                        Response.Redirect("~/Account/Thanks");
                    } else {
                        WebSecurity.Login(email, password);

                        Response.Redirect("~/");
                    }
                } catch (System.Web.Security.MembershipCreateUserException e) {
                    ModelState.AddFormError(e.Message);
                }
            } else {
                ModelState.AddFormError("Dit e-mailadres wordt al gebruikt.");
            }
        }
    }
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Nieuw account aanmaken</h2>
</hgroup>

<form method="post">
    @AntiForgery.GetHtml()
    @Html.ValidationSummary("Account aanmaken was onsuccesvol. Verbeter alstublieft de fouten.", excludeFieldErrors: true, htmlAttributes: null)

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li class="email">
                <label for="email" @if(!ModelState.IsValidField("email")){<text>class="error-label"</text>}>Email address</label>
                <input type="text" id="email" name="email" value="@email" @Validation.For("email") />
                @* Write any email validation errors to the page *@
                @Html.ValidationMessage("email")
            </li>
            <li class="password">
                <label for="password" @if(!ModelState.IsValidField("password")) {<text>class="error-label"</text>}>Password</label>
                <input type="password" id="password" name="password" @Validation.For("password") />
                @* Write any password validation errors to the page *@
                @Html.ValidationMessage("password")
            </li>
            <li class="confirm-password">
                <label for="confirmPassword" @if(!ModelState.IsValidField("confirmPassword")) {<text>class="error-label"</text>}>Confirm password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" @Validation.For("confirmPassword") />
                @* Write any password validation errors to the page *@
                @Html.ValidationMessage("confirmPassword")
            </li>
            <li class="text">
                <label for="name" @if (!ModelState.IsValidField("name")) { <text> class="error-label" </text> }>Voornaam</label>
                <input type="text" id="name" name="name" value="@name" @Validation.For("name") />
                @Html.ValidationMessage("naam")
            </li>
            <li class="text">
                <label for="lastName" @if (!ModelState.IsValidField("lastName")) { <text> class="error-label" </text> }>Achternaam</label>
                <input type="text" id="lastName" name="lastName" value="@lastName" @Validation.For("lastName") />
                @Html.ValidationMessage("lastName")
        </ol>
        <input type="submit" value="Register" />
    </fieldset>
</form>