@{
    // Title and layout.
    Page.Title = "Mijn Boeken";
    Layout = "~/_BookListLayout.cshtml";

    // Check Login. (Return to main page)
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Default.cshtml");
    }

    // Open database
    var userId = WebSecurity.CurrentUserId;

    var db = Database.Open("StarterSite");
    var selectQueryString = "SELECT * FROM Books WHERE Gebruiker = " + userId + " ORDER BY Titel"; // Used for creating the booklist.

    // List met geselecteerd uit lijst

    List<bool> selectList = new List<bool>();
    List<int> selectListId = new List<int>();

    foreach (var row in db.Query(selectQueryString))
    {
        selectList.Add(false);
        selectListId.Add(0);
    }

    if (Session["selectList"] == null)
    {
        Session["selectList"] = selectList;
        Session["selectListId"] = selectListId;
    }

    // Sorting the book list. 
    string sortOrder = "a";
    string sortBy = Request.QueryString["sr"];
    string searchTermQuery = Request.QueryString["searchbar"];

    string[] columnNames = new string[] { "Titel", "Auteur", "UploadDatum", "Grootte", "Beoordeling", "Serie", "Uitgever", "UitgaveDatum", "Taal" };

    if (!IsPost)
    {
        // Sorting books.
        if (!Request.QueryString["sr"].IsEmpty())
        {
            if (sortBy[1].ToString() == "a")
            {
                sortOrder = "b";
            }
            else
            {
                sortOrder = "a";
            }

            int sortCount = (int)char.GetNumericValue(sortBy[0]);
            char sortDescAsc = sortBy[1];
            if (sortDescAsc == 'a')
            {
                selectQueryString = "SELECT * FROM Books WHERE Gebruiker = " + userId + " ORDER BY " + columnNames[sortCount] + " DESC";
            }
            else
            {
                selectQueryString = "SELECT * FROM Books WHERE Gebruiker = " + userId + " ORDER BY " + columnNames[sortCount] + " ASC";
            }
        }
        else
        {
            sortBy = "0b";
        }

        // Give Books a star rating. Max 5/5.
        if (!Request.QueryString["st"].IsEmpty() && Request.QueryString["st"].AsInt() >= 0)
        {

            var rating = Request.QueryString["st"]; // Contains the rating and which book got rated
            var stars = rating[rating.Length - 1]; // Number off Stars
            var rated = ""; // Which book got rated

            for(int i = 0; i < rating.Length - 1; i++)
            {
                rated += rating[i];
            }

            var statement = "UPDATE Books SET Beoordeling = @0 WHERE Id = @1";
            db.Execute(statement, (int)char.GetNumericValue(stars) + 1, rated);
        }
       
    }
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <ul class="sortcard list-unstyled">
                @{        
                    for (int i = 0; i < columnNames.Length; i++)
                    {
                        string currCol = columnNames[i];
                        var countStatement = "SELECT " + currCol + " FROM Books WHERE Gebruiker = " + userId + " GROUP BY " + currCol;
                        var countQueryVal = db.Query(countStatement);
                        var amount = countQueryVal.Count();


                        if (sortBy.Length > 2)
                        {
                            if (sortBy[1] == 'a')
                            {
                                sortOrder = "b";
                            }
                            else
                            {
                                sortOrder = "a";
                            }

                        }

                        string sortBySwitch = i + sortOrder + 1;

                        // Set the indicator when selected. 
                        string indicator = "32";
                        int sortCount = (int)char.GetNumericValue(sortBy[0]);
                        if (sortCount == i)
                        {
                            if (sortBy[1] == 'a')
                            {
                                indicator = "9660";
                            }
                            else
                            {
                                indicator = "9650";
                            }
                        }

                        <li>
                            <a href="~/List.cshtml?sr=@sortBySwitch">&#@indicator; @columnNames[i]</a> <span class="badge" style="float: right;">@amount</span>
                            @{ 
                                if (sortCount == i)
                                {
                                    // Make a list from all unique columnNames[i]. Example all inique authors are listed.
                                    var sortQuery = "SELECT " + columnNames[i] + " FROM Books WHERE Gebruiker = " + userId + " GROUP BY " + columnNames[i];
                                    <ul class="sortList">                   
                                        @foreach (var row in db.Query(sortQuery))
                                        { 
                                            // Select all ID's from the books with the (for example) author names.
                                            var sortFindQuery = "SELECT Id FROM Books WHERE " + columnNames[i] + " = @0";
                                            string selectBooks = "";

                                            // Make a string for passing the selected books.
                                            foreach (var id in db.Query(sortFindQuery, row[0]))
                                            {
                                                selectBooks += id[0];
                                                selectBooks += "+";
                                            }
                                            
                                            // Remove the "+" at the end of the string.
                                            string selectedBooks = "";
                                            if (selectBooks[selectBooks.Length-1]== '+')
                                            {
                                                for (int ii = 0; ii < selectBooks.Length - 1; ii++)
                                                {
                                                    selectedBooks += selectBooks[ii];
                                                }
                                            }
                                            else
                                            {
                                                // Only 1 book is selected.
                                                selectedBooks = selectBooks; 
                                            }

                                            <li><a href="~/List.cshtml?sr=@sortBy&at=@selectedBooks">@row[0]</a></li>
                                        }
                                    </ul>
                                }

                            }
                            @if (currCol != "Taal")
                            {
                                <hr class="sortdivider" />
                            }      
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="col-sm-7">
            <form class="searchform" method="get">
                @Html.ValidationSummary()
                <div class="group">
                    <input class="inputmaterial" type="search" placeholder="Druk op enter om te zoeken..." name="sb" value="@Request["sb"]" />
                    <span class="bar"></span>
                </div>
            </form>
            
            @if (!Request.QueryString["sb"].IsEmpty())
            {
                var searchTitel = "SELECT * FROM Books WHERE Titel LIKE @0";
                var searchTerm = "%" + Request["sb"] + "%";
                var resultTitel = db.Query(searchTitel, searchTerm);

                if (resultTitel.Count() > 0)
                {
                    <div class="searchcard">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th>Titel</th>
                                    <th>Auteur</th>
                                    <th>Tags</th>
                                    <th>Serie</th>
                                </tr>
                            </thead>
                            <tbody>                   
                                @foreach (var row in resultTitel)
                                {
                                    <tr>
                                        <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.Titel</a></td>
                                        <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.Auteur</a></td>
                                        <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.Tags</a></td>
                                        <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.Serie</a></td>
                                    </tr>
                                }           
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <h4>Helaas, niks gevonden.</h4>
                }
            }

            <hr style="margin-top: 10px; margin-bottom: 10px;" />
            <div class="listcard">    
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Titel</th>
                            <th>Auteur</th>
                            <th>Datum</th>
                            <th>Grootte (mb)</th>
                            <th>Beoordeling</th>
                            <th>Tags</th>
                            <th>Serie</th>
                            <th>Uitgever</th>
                            <th>Uitgave-datum</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            selectList = (List<bool>)Session["selectList"];
                            selectListId = (List<int>)Session["selectListId"];

                            foreach (var row in db.Query(selectQueryString))
                            {
                                // Selecting multiple books.
                                if (!Request.QueryString["at"].IsEmpty())
                                {
                                    string selectedBooks = Request.QueryString["at"];
                                    string[] selectID = selectedBooks.Split(' '); // Splitting select books from QueryString

                                    foreach (string id in selectID)
                                    {
                                        if(row.ID == id.AsInt())
                                        {
                                            int index = selectListId.IndexOf(row.ID);
                                            if (index == -1)
                                            {
                                                int emptyIndex = selectListId.IndexOf(0);
                                                selectList[emptyIndex] = true;
                                                selectListId[emptyIndex] = id.AsInt();
                                            }
                                            else
                                            {
                                                selectList[index] = false;
                                                selectListId[index] = 0;
                                            }
                                        }
                                    }
                                }

                                // Selecting a single book from the List.
                                if (!Request.QueryString["id"].IsEmpty() && Request.QueryString["id"].AsInt() > 0)
                                {
                                    var bookId = Request.QueryString["id"];

                                    if (row.ID == bookId.AsInt())
                                    {

                                        int index = selectListId.IndexOf(row.ID);
                                        if (index == -1)
                                        {
                                            int emptyIndex = selectListId.IndexOf(0);
                                            selectList[emptyIndex] = true;
                                            selectListId[emptyIndex] = bookId.AsInt();
                                        }
                                        else
                                        {
                                            selectList[index] = false;
                                            selectListId[index] = 0;
                                        }
                                    }
                                }

                                // Selecting searched Books.
                                //if (!Request.QueryString["sb"].IsEmpty())
                                //{
                                //    var searchTitel = "SELECT * FROM Books WHERE Titel LIKE @0";
                                //    var searchTerm = "%" + Request["sb"] + "%";

                                //    foreach (var rowResult in db.Query(searchTitel, searchTerm))
                                //    {
                                //        if (row.ID == rowResult.ID)
                                //        {
                                //            int index = selectListId.IndexOf(row.ID);
                                //            if (index == -1)
                                //            {
                                //                int emptyIndex = selectListId.IndexOf(0);
                                //                selectList[emptyIndex] = true;
                                //                selectListId[emptyIndex] = rowResult.ID;
                                //            }
                                //            else
                                //            {
                                //                selectList[index] = false;
                                //                selectListId[index] = 0;
                                //            }
                                //        }
                                //    }
                                //}



                                if (selectListId.IndexOf(Convert.ToInt32(row.ID)) != -1)
                                {
                                    <tr class="selectedTable">
                                        <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.Titel</a></td>
                                        <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.Auteur</a></td>
                                        <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.UploadDatum.ToString("dd-MMM-yy")</a></td>
                                        <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.Grootte</a></td>
                                        <td>
                                            @{
                                                for (int i = 0; i < 5; i++)
                                                {
                                                    string rating = Convert.ToString(row.ID) + Convert.ToString(i);
                                                    if (i < row.Beoordeling)
                                                    {
                                                        <a href="~/List.cshtml?sr=@sortBy&st=@rating"><img src='~/Images/star.png' width="10" alt='*' /></a>
                                                    }
                                                    else
                                                    {
                                                        <a href="~/List.cshtml?sr=@sortBy&st=@rating"><img src='~/Images/starempty.png' width="10" alt='' /></a>
                                                    }
                                                }
                                            }
                                        </td>
                                            <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.Tags</a></td>
                                            <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.Serie</a></td>
                                            <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.Uitgever</a></td>
                                            <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.UitgaveDatum</a></td>
                                        </tr>

                                }
                                    else
                                    {

                                        <tr class="deselectedtable">
                                            <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.Titel</a></td>
                                            <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.Auteur</a></td>
                                            <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.UploadDatum.ToString("dd-MMM-yy")</a></td>
                                            <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.Grootte</a></td>
                                            <td>
                                                @{
                                                    for (int i = 0; i < 5; i++)
                                                    {
                                                        string rating = Convert.ToString(row.ID) + Convert.ToString(i);
                                                        if (i < row.Beoordeling)
                                                        {
                                                            <a href="~/List.cshtml?sr=@sortBy&st=@rating"><img src='~/Images/star.png' width="10" alt='*' /></a>
                                                        }
                                                        else
                                                        {
                                                            <a href="~/List.cshtml?sr=@sortBy&st=@rating"><img src='~/Images/starempty.png' width="10" alt='' /></a>
                                                        }
                                                    }
                                                }
                                            </td>
                                            <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.Tags</a></td>
                                            <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.Serie</a></td>
                                            <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.Uitgever</a></td>
                                            <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.UitgaveDatum</a></td>
                                        </tr>
                                }
                            }
                        }
                    </tbody>
                </table>     
            </div>
        </div>
        <div class="col-sm-3">
            @{
                int selectedbooks = 0;
                foreach (int i in selectListId)
                {
                    if (i != 0)
                    {
                        selectedbooks++;
                    }
                }

                if (selectedbooks > 0)
                {
                    <h4 id="selectedbooks">Aantal boeken geselecteerd: @selectedbooks</h4>
                    <h6>
                        <a class="btn btn-default btn-sm" href="~/Books/BooksDownload.cshtml">Download</a>
                        <a class="btn btn-default btn-sm" href="~/Books/BooksEmail.cshtml">E-mail</a>
                        <a class="btn btn-danger accent-color btn-sm" href="~/Books/BooksDelete.cshtml">Verwijderen</a>
                    </h6>
                    <hr />
                }
                else
                {
                    <h4 id="selectedbooks">Welkom op terug op E-Book Online!</h4>
                    <p><b>Tip:</b> Selecteer één of meerdere boeken uit uw bibliotheek voor meer Info.</p>
                }
            }

            @Helpers.createCards(db, selectListId): 
        </div>
    </div>
</div>
