@{
    // Title and layout.
    Page.Title = "Mijn Boeken";
    Layout = "~/_BookListLayout.cshtml";

    // Check Login.
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Default.cshtml");
    }

    // Open database
    var userId = WebSecurity.CurrentUserId;

    var db = Database.Open("StarterSite");
    var selectQueryString = "SELECT * FROM Books WHERE Gebruiker = " + userId + " ORDER BY Titel";
    var sortBy = "0";

    if (!IsPost)
    {
        // Sorting books.
        if (!Request.QueryString["sr"].IsEmpty() && Request.QueryString["sr"].AsInt() >= 0)
        {
            sortBy = Request.QueryString["sr"];

            switch (sortBy.AsInt())
            {
                case 0:
                    selectQueryString = "SELECT * FROM Books WHERE Gebruiker = " + userId + " ORDER BY Titel";
                    break;
                case 1:
                    selectQueryString = "SELECT * FROM Books WHERE Gebruiker = " + userId + " ORDER BY Auteur";
                    break;
                case 2:
                    selectQueryString = "SELECT * FROM Books WHERE Gebruiker = " + userId + " ORDER BY UitgaveDatum";
                    break;
                case 3:
                    selectQueryString = "SELECT * FROM Books WHERE Gebruiker = " + userId + " ORDER BY Taal";
                    break;
                case 4:
                    selectQueryString = "SELECT * FROM Books WHERE Gebruiker = " + userId + " ORDER BY UploadDatum";
                    break;
                case 5:
                    selectQueryString = "SELECT * FROM Books WHERE Gebruiker = " + userId + " ORDER BY UploadDatum";
                    break;
                case 6:
                    selectQueryString = "SELECT * FROM Books WHERE Gebruiker = " + userId + " ORDER BY Serie";
                    break;
                case 7:
                    selectQueryString = "SELECT * FROM Books WHERE Gebruiker = " + userId + " ORDER BY Beoordeling";
                    break;

            }
        }

        // Geef sterren aanboek.
        if (!Request.QueryString["st"].IsEmpty() && Request.QueryString["st"].AsInt() >= 0)
        {
            var clickedStar = Request.QueryString["st"].AsInt() + 1;
            var bookId = Request.QueryString["id"].AsInt();

            var statement = "UPDATE Books SET Beoordeling = @0 WHERE Id = @1";
            db.Execute(statement, clickedStar, bookId);
        }


        // Searchbar
        if (!Request.QueryString["searchbar"].IsEmpty())
        {
            var searchCommand = "SELECT * FROM Movies WHERE Title LIKE @0";
            var searchTerm = "%" + Request["searchbar"] + "%";
        }
    }

    // List met geselecteerd uit lijst

    List<bool> selectList = new List<bool>();
    List<int> selectListId = new List<int>();

    foreach (var row in db.Query(selectQueryString))
    {
        selectList.Add(false);
        selectListId.Add(0);
    }

    if (Session["selectList"] == null)
    {
        Session["selectList"] = selectList;
        Session["selectListId"] = selectListId;
    }

}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <form method="get">
                @Html.ValidationSummary()
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for..." name="searchbar" value="@Request["searchbar"]" />
                    <input type="submit" class="btn btn-default" value="search"/>
                </div><!-- /input-group -->
            </form>
            <hr />
            <ul class="list-group">
                @{
                    string[] columnNames = new string[] { "Titel", "Auteur", "Uitgever", "UitgaveDatum", "Taal", "UploadDatum", "Serie", "Beoordeling" };
                    var amountStatement = "SELECT COUNT(Gebruiker) FROM Books WHERE Gebruiker = " + userId;
                    var amount = db.QueryValue(amountStatement);

                    for (int i = 0; i < columnNames.Length; i++)
                    {
                        string currCol = columnNames[i];
                        var countStatement = "SELECT COUNT(" + currCol + ") FROM Books WHERE Gebruiker = " + userId + " GROUP BY " + currCol;

                        var count = amount - db.QueryValue(countStatement) + 1;

                        <li class="list-group-item"><a href="~/List.cshtml?sr=@i">@columnNames[i]</a> <span class="badge">@count</span></li>
                    }
                }
            </ul>
        </div>
        <div class="col-sm-7 card">
            <form method="post">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Titel</th>
                            <th>Auteur</th>
                            <th>Datum</th>
                            <th>Grootte (mb)</th>
                            <th>Beoordeling</th>
                            <th>Tags</th>
                            <th>Serie</th>
                            <th>Uitgever</th>
                            <th>Uitgave-datum</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            selectList = (List<bool>)Session["selectList"];
                            selectListId = (List<int>)Session["selectListId"];

                            foreach (var row in db.Query(selectQueryString))
                            {
                                if (!IsPost)
                                {

                                    if (!Request.QueryString["id"].IsEmpty() && Request.QueryString["id"].AsInt() > 0)
                                    {
                                        var bookId = Request.QueryString["id"];

                                        if (row.ID == bookId.AsInt())
                                        {

                                            int index = selectListId.IndexOf(row.ID);
                                            if (index == -1)
                                            {
                                                int emptyIndex = selectListId.IndexOf(0);
                                                selectList[emptyIndex] = true;
                                                selectListId[emptyIndex] = bookId.AsInt();
                                            }
                                            else
                                            {
                               
                                                selectList[index] = false;
                                                selectListId[index] = 0;
                                                
                                            }
                                        }

                                    }
                                }


                                if (selectListId.IndexOf(Convert.ToInt32(row.ID)) != -1)
                                {
                                    <tr class="selectedTable">
                                        <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.Titel</a></td>
                                        <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.Auteur</a></td>
                                        <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.UploadDatum.ToString("dd-MMM-yy")</a></td>
                                        <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">10mb</a></td>
                                        <td>
                                            @{
                                                for (int i = 0; i < 5; i++)
                                                {
                                                    if (i < row.Beoordeling)
                                                    {
                                                        <a href="~/List.cshtml?sr=@sortBy&id=@row.ID&st=@i"><img src='~/Books/Coverart/star.png' width="12" alt='*' /></a>
                                                    }
                                                    else
                                                    {
                                                        <a href="~/List.cshtml?sr=@sortBy&id=@row.ID&st=@i"><img src='~/Books/Coverart/starempty.png' width="12" alt='' /></a>
                                                    }
                                                }
                                            }
                                        </td>
                                        <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.Tags</a></td>
                                        <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.Serie</a></td>
                                        <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.Uitgever</a></td>
                                        <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.UitgaveDatum.ToString("dd-MMM-yy")</a></td>
                                    </tr>

                                                }
                                                else
                                                {
                                              
                                                    <tr>
                                                        <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.Titel</a></td>
                                                        <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.Auteur</a></td>
                                                        <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.UploadDatum.ToString("dd-MMM-yy")</a></td>
                                                        <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">10mb</a></td>
                                                        <td>
                                                            @{
                                                                for (int i = 0; i < 5; i++)
                                                                {
                                                                    if (i < row.Beoordeling)
                                                                    {
                                                                        <a href="~/List.cshtml?sr=@sortBy&id=@row.ID&st=@i"><img src='~/Books/Coverart/star.png' width="12" alt='*' /></a>
                                                                    }
                                                                    else
                                                                    {
                                                                        <a href="~/List.cshtml?sr=@sortBy&id=@row.ID&st=@i"><img src='~/Books/Coverart/starempty.png' width="12" alt='' /></a>
                                                                    }
                                                                }
                                                            }
                                                        </td>
                                                        <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.Tags</a></td>
                                                        <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.Serie</a></td>
                                                        <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.Uitgever</a></td>
                                                        <td><a href="~/List.cshtml?sr=@sortBy&id=@row.ID">@row.UitgaveDatum.ToString("dd-MMM-yy")</a></td>
                                                    </tr>
                                }
                            }                                                    
                        }
                    </tbody>
                </table>
            </form>
        </div>
        <div class="col-sm-3">
            <h4>Geselecteerd boeken</h4>
            <h6>
                Acties:
                <a class="btn btn-default" href="~/Books/BooksDownload.cshtml">Download</a>
                <a class="btn btn-default" href="~/Books/BooksEmail.cshtml">E-mail</a>
                <a class="btn btn-danger" href="~/Books/BooksDelete.cshtml">Verwijderen</a>
            </h6>
            @if (!IsPost)
            {
                // Create a list from selected books.
                for (int i = 0; i < selectListId.Count; i++)
                {
                    // If ListId = 0: There is no selected book.
                    if (selectListId[i] != 0)
                    {
                        // Count the amount off !selected books. 
                        int countEmpty = 0;
                        foreach (int ii in selectListId)
                        {
                            if (ii == 0)
                            {
                                countEmpty++;
                            }
                        }

                        // If there is only 1 books selected. Show big "preview"
                        if (countEmpty  > selectListId.Count-2)
                        {
                            // Select book Info
                            var statement = "SELECT * FROM Books WHERE Id = @0";
                            var bookInfo = db.QuerySingle(statement, selectListId[i]);

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">@bookInfo.Titel - <a style="font-size: 14px" href="~/Books/BooksView.cshtml?id=@bookInfo.Id">View Book</a></h3>                   
                                </div>
                                <div class="panel-body">
                                    <img src="~/img/Enchantment-Book-Cover-Best-Seller1.jpg" alt="bookcover" width="100" text-align="center" />
                                    <h5>Auteur:</h5>
                                    <p>@bookInfo.Titel</p>
                                    <h5>Taal</h5>
                                    <p>@bookInfo.Taal</p>
                                    <h5>Beschrijving</h5>
                                    <p>@bookInfo.Beschrijving</p>

                                </div>
                            </div>
                        }
                        else
                        {
                            // Select book Info
                            var statement = "SELECT * FROM Books WHERE Id = @0";
                            var bookInfo = db.QuerySingle(statement, selectListId[i]);

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">@bookInfo.Titel - <a style="font-size: 14px" href="~/Books/BooksView.cshtml?id=@bookInfo.Id">View Book</a></h3>                               
                                </div>
                                <div class="panel-body">                                 
                                    <h5>Auteur: @bookInfo.Auteur</h5>                
                                    <h5>Taal: @bookInfo.Taal</h5>
                                </div>
                            </div>
                        }                      
                    }
                }
            }
        </div>
    </div>
</div>
