@{
    Page.Title = "Mijn Boeken";
    Layout = "~/_BookListLayout.cshtml";

    var db = Database.Open("StarterSite");
    var selectQueryString = "SELECT * FROM Books ORDER BY Titel";

    var book = db.Query("SELECT * FROM Books WHERE Id = 1");
    var idBoek = "1" ;
    var titel = "Test";

    if (!IsPost)
    {
        if (!Request.QueryString["id"].IsEmpty() && Request.QueryString["id"].AsInt() > 0)
        {
                      
        }
    }
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <ul class="list-group">
                <li class="list-group-item">Auteur <span class="badge">12</span></li>
                <li class="list-group-item">Talen <span class="badge">5</span></li>
                <li class="list-group-item">Serie <span class="badge">3</span></li>
                <li class="list-group-item">Formats <span class="badge">3</span></li>
                <li class="list-group-item">Uitgever <span class="badge">3</span></li>
                <li class="list-group-item">Beoordeling <span class="badge">3</span></li>
                <li class="list-group-item">Nieuws <span class="badge">3</span></li>
                <li class="list-group-item">Tags <span class="badge">3</span></li>
                <li class="list-group-item">Identifiers <span class="badge">3</span></li>
            </ul>
        </div>
        <div class="col-sm-7 card">
            <form method="post">       
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Titel</th>
                            <th>Auteur</th>
                            <th>Datum</th>
                            <th>Grootte (mb)</th>
                            <th>Beoordeling</th>
                            <th>Tags</th>
                            <th>Serie</th>
                            <th>Uitgever</th>
                            <th>Uitgave-datum</th>
                        </tr>
                    </thead>  
                    <tbody>
                        @foreach (var row in db.Query(selectQueryString))
                        {
                            <tr>
                                <td><a href="~/List.cshtml?id=@row.ID">@row.Titel</a></td>
                                <td><a href="~/List.cshtml?id=@row.ID">@row.Auteur</a></td>
                                <td><a href="~/List.cshtml?id=@row.ID">@row.UploadDatum</a></td>
                                <td><a href="~/List.cshtml?id=@row.ID">10mb</a></td>
                                <td><a href="~/List.cshtml?id=@row.ID">@row.Beoordeling</a></td>
                                <td><a href="~/List.cshtml?id=@row.ID">@row.Tags</a></td>
                                <td><a href="~/List.cshtml?id=@row.ID">@row.Serie</a></td>
                                <td><a href="~/List.cshtml?id=@row.ID">@row.Uitgever</a></td>
                                <td><a href="~/List.cshtml?id=@row.ID">@row.UitgaveDatum</a></td>
                            </tr>
                        }
                    </tbody>          
                </table>    
            </form>  
        </div>
        <div class="col-sm-3">
            <label for="basic-url">Zoeken in je boekenlijst</label>
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon3">Zoek</span>
                <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
            </div>
            <hr />
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Boek Titel</h3>
                </div>
                <div class="panel-body">
                    <img src="~/img/Enchantment-Book-Cover-Best-Seller1.jpg" alt="bookcover" width="100" text-align="center"/>
                    <h4>Auteur:</h4>
                    <p>@titel</p>
                    <h4>Format</h4>
                    <p>PDF</p>
                    <h4>Beschrijving</h4>
                    <p>"But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. "</p>
                </div>
            </div>
        </div>
    </div>
</div>