@helper searchList(IEnumerable<dynamic> queryResult, List<int> selectListId, string sortBy)
{
    <div class="searchcard">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>Auteur</th>
                    <th>Serie</th>
                    <th>Uitgever</th>
                    <th>Tags</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in queryResult)
                {
                    if (selectListId.IndexOf(Convert.ToInt32(row.ID)) != -1)
                    {
                        <tr class="selectedTable">
                            <td onClick="document.location.href='/List.cshtml?sr=@sortBy&sb=@Request["sb"]&id=@row.ID';">@row.Titel</td>
                            <td onClick="document.location.href='/List.cshtml?sr=@sortBy&sb=@Request["sb"]&id=@row.ID';">@row.Auteur</td>
                            <td onClick="document.location.href='/List.cshtml?sr=@sortBy&sb=@Request["sb"]&id=@row.ID';">@row.Serie</td>
                            <td onClick="document.location.href='/List.cshtml?sr=@sortBy&sb=@Request["sb"]&id=@row.ID';">@row.Uitgever</td>
                            <td onClick="document.location.href='/List.cshtml?sr=@sortBy&sb=@Request["sb"]&id=@row.ID';">@row.Tags</td>
                        </tr>
                    }
                    else
                    {
                        <tr class="deselectedtable">
                            <td onClick="document.location.href='/List.cshtml?sr=@sortBy&sb=@Request["sb"]&id=@row.ID';">@row.Titel</td>
                            <td onClick="document.location.href='/List.cshtml?sr=@sortBy&sb=@Request["sb"]&id=@row.ID';">@row.Auteur</td>
                            <td onClick="document.location.href='/List.cshtml?sr=@sortBy&sb=@Request["sb"]&id=@row.ID';">@row.Serie</td>
                            <td onClick="document.location.href='/List.cshtml?sr=@sortBy&sb=@Request["sb"]&id=@row.ID';">@row.Uitgever</td>
                            <td onClick="document.location.href='/List.cshtml?sr=@sortBy&sb=@Request["sb"]&id=@row.ID';">@row.Tags</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}

@helper shareList(Database db, int userID)
{
    <table class="table table-responsive">
        <thead>
            <tr>
                @{
                    List<string> listColNames = new List<string> { "Titel", "Auteur", "Toegevoegd", "Grootte", "Beoordeling", "Tags", "Serie", "Uitgever", "Uitgave" };

                    for (int i = 0; i < listColNames.Count; i++)
                    {
                        <th>@listColNames[i]</th>
                    }
                }
            </tr>
        </thead>
        <tbody>
            @{
                string query = "SELECT * FROM Books WHERE Gebruiker = @0";
                var result = db.Query(query, userID);

                foreach (var row in result)
                {
                    <tr>
                        <td>@row.Titel</td>
                        <td>@row.Auteur</td>
                        <td>@row.UploadDatum</td>
                        <td>@row.Grootte</td>
                        <td>@row.Beoordeling</td>
                        <td>@row.Tags</td>
                        <td>@row.Serie</td>
                        <td>@row.Uitgever</td>
                        <td>@row.UitgaveDatum</td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@helper createCards(Database db, List<int> selectListId, int selectClass)
{
// Count the amount of !selected books.
int countEmpty = 0;
foreach (int ii in selectListId)
{
    if (ii == 0)
    {
        countEmpty++;
    }
}

for (int i = 0; i < selectListId.Count; i++)
{
    // If ListId = 0: There is no selected book.
    if (selectListId[i] != 0)
    {
        // If there is only 1 books selected. Show big "preview"
        if (countEmpty > selectListId.Count - 2)
        {
            var statement = "SELECT * FROM Books WHERE Id = @0";
            var bookInfo = db.QuerySingle(statement, selectListId[i]);

            string animation = "";
            if (i == selectListId.Count - 1 - countEmpty && selectClass == 1)
            {
                animation = "animated zoomIn";
            }

            <div class="bookinfocard bookinfocard-hover @animation">
                <a href="~/Books/BooksView.cshtml?id=@bookInfo.Id"><span></span></a>
                <div class="bookinfoheading">
                    <h3 class="panel-title text-center">@bookInfo.Titel</h3>
                </div>

                <div class="bookinfobody">
                    @{ string filePath = bookInfo.Path + ".png"; }
                    <img src="~/Books/Files/IMG/@filePath" alt="bookcover" width="100" text-align="center" />
                    <h5>Auteur:</h5>
                    <p>@bookInfo.Auteur</p>
                    <h5>Taal</h5>
                    <p>@bookInfo.Taal</p>
                    <h5>Beschrijving</h5>
                    <p>@bookInfo.Beschrijving</p>
                </div>
            </div>
                            break;
                        }
                        else
                        {
                            // Select book Info
                            var statement = "SELECT * FROM Books WHERE Id = @0";
                            var bookInfo = db.QuerySingle(statement, selectListId[i]);

                            string animation = "";
                            if (i == selectListId.Count - 1 - countEmpty && selectClass == 1)
                            {
                                animation = "animated zoomIn";
                            }

                            <div class="bookinfocard bookinfocard-hover @animation">
                                <a href="~/Books/BooksView.cshtml?id=@bookInfo.Id"><span></span></a>
                                <div class="bookinfoheading">
                                    <h3 class="panel-title text-center">@bookInfo.Titel</h3>
                                </div>
                                <div class="bookinfobody">
                                    <h5>Auteur: @bookInfo.Auteur</h5>
                                    <h5>Taal: @bookInfo.Taal</h5>
                                </div>
                            </div>
                            <br />
                                }
                            }
                        }
}
