@{
    if (!WebSecurity.IsAuthenticated)
    {
        Response.Redirect("~/Default.cshtml");
    }

    Page.Title = "Update Books";
    Layout = "~/_BookListLayout.cshtml";

    List<int> selectedId = Session["selectListId"] as List<int>;
    Database db = Database.Open("StarterSite");

    if (IsPost)
    {
        foreach (int id in selectedId)
        {
            if (id > 0)
            {
                // Validations
                Validation.Add(("inputtitel=" + id), Validator.StringLength(100,0, "De Titel mag niet langer zijn dan 100 tekens."));
                Validation.Add(("inputauthor=" + id), Validator.StringLength(100, 0, "De auteur mag niet langer zijn dan 100 tekens."));
                Validation.Add(("inputuitgever=" + id), Validator.StringLength(100, 0, "De uitgever mag niet langer zijn dan 100 tekens."));
                Validation.Add(("inputuitgave=" + id), Validator.StringLength(10, 0, "De uitgavedatum mag niet langer zijn dan 10 tekens."));
                Validation.Add(("inputtaal=" + id), Validator.StringLength(100, 0, "De taal mag niet langer zijn dan 100 tekens."));
                Validation.Add(("inputcomment=" + id), Validator.StringLength(2000, 0, "De beschrijving mag niet langer zijn dan 100 tekens."));
                Validation.Add(("inputtags=" + id), Validator.StringLength(200, 0, "De Auteur mag niet langer zijn dan 200 tekens."));
                Validation.Add(("inputserie=" + id), Validator.StringLength(25, 0, "De serie mag niet langer zijn dan 25 tekens."));
                Validation.Add(("inputrating=" + id), Validator.Range(1, 5, "Beoordeling moet tussen de 1 en 5 zitten"));

                if (Validation.IsValid())
                {
                    // Get book info from database.
                    var statement = "SELECT * FROM Books WHERE Id=@0";
                    var row = db.QuerySingle(statement, id);

                    // Get user input.
                    string inputtitel = Request.Form["inputtitel=" + id];
                    string inputauthor = Request.Form["inputauthor=" + id];
                    string inputuitgever = Request.Form["inputuitgever=" + id];
                    string inputuitgave = Request.Form["inputuitgave=" + id];
                    string inputtaal = Request.Form["inputtaal=" + id];
                    string inputcomment = Request.Form["inputcomment=" + id];
                    string inputtags = Request.Form["inputtags=" + id];
                    string inputserie = Request.Form["inputserie=" + id];
                    int inputrating = Request.Form["inputrating=" + id].AsInt();

                    var updateStatement = "UPDATE Books SET Auteur =@0, Uitgever =@1, UitgaveDatum =@2, Taal =@3, Beschrijving =@4, Tags =@5, Serie =@6, Beoordeling =@7, titel =@8 WHERE Id =@9";
                    db.Execute(updateStatement, inputauthor, inputuitgever, inputuitgave, inputtaal, inputcomment, inputtags, inputserie, inputrating, inputtitel, id);

                    Response.Redirect("~/List.cshtml");
                }
            }
        }
        // is this an external login request
    }
}
    

<form method="post">
    @AntiForgery.GetHtml()
    <div class="container">
        <h2>Metadata aanpassen</h2>
        <p>Hier kunt u de metadata van de reselecteerde boeken aanpassen.</p>

        <button class="btn btn-danger accent-color" name="actionButton">Opslaan</button>

        <hr />
    </div>

    <div class="container">
        <div class="row">      
            @foreach (int id in selectedId)
            {
                // Check if ID is not 0: There is no book selected.
                if (id > 0)
                {
                    var statement = "SELECT * FROM Books WHERE Id=@0";
                    var row = db.QuerySingle(statement, id);

                    <div class="col-lg-4 col-sm-6">
                        <div class="bookinfocard">
                            <div class="bookinfoheading">
                                <h4 class="text-center">@row.Titel</h4>
                            </div>
                            <div class="bookinfobody">
                                <ul>
                                    @{
                                        string lastError = "";
                                        foreach (var error in Validation.GetErrors())
                                        {
                                            if (!(error == lastError))
                                            {
                                                lastError = error;
                                                <li>@error</li>
                                            }
                                        }
                                    }
                                </ul>
                                
                                <div class="input-group">
                                    <span class="input-group-addon">Titel</span>
                                    <input type="text" class="form-control" name="inputtitel=@id" placeholder="Titel" value="@row.Titel">
                                </div>
                                <br />

                                <div class="input-group">
                                    <span class="input-group-addon">Auteur</span>
                                    <input type="text" class="form-control" name="inputauthor=@id" placeholder="Auteur" value="@row.Auteur">
                                </div>
                                <br />
                             
                                <div class="input-group">
                                    <span class="input-group-addon">Uitgever</span>
                                    <input type="text" class="form-control formfill" name="inputuitgever=@id" placeholder="Uitgever" value="@row.Uitgever">
                                </div>
                                <br />

                                <div class="input-group">
                                    <span class="input-group-addon">Uitgave-datum</span>
                                    <input type="text" class="form-control formfill" name="inputuitgave=@id" placeholder="09/01/1998" value="@row.UitgaveDatum">
                                </div>
                                <br />
                               
                                <div class="input-group">
                                    <span class="input-group-addon">Taal</span>
                                    <input type="text" class="form-control formfill" name="inputtaal=@id" placeholder="eng" value="@row.Taal">
                                </div>
                                <br />

                                <div class="form-group">
                                    <span class="input-group-addon">Beschrijving</span>
                                    <textarea class="form-control" rows="5" id="comment" name="inputcomment=@id"></textarea>
                                </div>
                                <br />
                              
                                <div class="input-group">
                                    <span class="input-group-addon">Tags</span>
                                    <input type="text" class="form-control formfill" name="inputtags=@id" placeholder="Fantasie, Magie" value="@row.Tags">
                                </div>
                                <br />

                                <div class="input-group">
                                    <span class="input-group-addon">Serie</span>
                                    <input type="text" class="form-control formfill" name="inputserie=@id" placeholder="Harry Potter" value="@row.Serie">
                                </div>
                                <br />
                                <div class="form-group">
                                    <label for="sel1">Beoordeling (@row.Beoordeling/5 sterren):</label>
                                    <select class="form-control" id="sel1" name="inputrating=@id" value="@row.Beoordeling">

                                        @for (int i = 1; i < 6; i++)
                                        {
                                            if (i == @row.Beoordeling)
                                            {
                                                <option value="@i" selected="selected">@i</option>
                                            }
                                            else
                                            {
                                                <option value="@i">@i</option>
                                            }
                                        }                                                   
                                    </select>
                                </div>
                                <hr />
                                
                                <button class="btn btn-default default-primary-color" name="actionButton" style="float: left;">Opslaan</button>
                                <a class="btn" href="~/Books/BooksAutoMeta.cshtml?id=@id" style="float:right;">Auto-update Metadata</a>
                                <br />
                                <br/>
                            </div>
                        </div>
                        <hr />
                    </div>
                }
            }
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="autoMetaModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                    <p>This is a large modal.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</form>