@* Remove this section if you are using bundling *@
@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Ebooks mailen";

    bool passwordSent = false;
    var email = Request.Form["email"] ?? Request.QueryString["email"];

    // Setup validation
    Validation.RequireField("email", "U moet uw email adres invullen.");

    List<int> selectedId = Session["selectListId"] as List<int>;

    if(selectedId == null)
    {
        <h1>U heeft geen boeken geselecteerd. U kunt op de hoofdpagina boeken selecteren.</h1>
    }
    else
    {
        List<string> attachfile = new List<string>();

        var db = Database.Open("StarterSite");

        for (int i = 0; i < 1 ; i++)
        {
            string AttachedFile = db.QueryValue("SELECT Path FROM Books Where Id = " + selectedId[i]);
            attachfile.Add(AttachedFile);
        }

        if (IsPost)
        {
            AntiForgery.Validate();
            // validate email
            bool isValid = true;
            if (isValid)
            {
                var hostUrl = Request.Url.GetComponents(UriComponents.SchemeAndServer, UriFormat.Unescaped);
                WebMail.Send(
                    to: email,
                    subject: "EBook",
                    body: "Hier een mooi EBookje",
                    filesToAttach: attachfile
                );
                passwordSent = true;
            }
        }
    }
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
</hgroup>

@if (!WebMail.SmtpServer.IsEmpty()) {
    if (passwordSent) {
        <p class="message-success">
            <font size="25" color="red">De Ebooks zijn verzonden</font>            
        </p>
    }

    <form method="post">
        @AntiForgery.GetHtml()
        @Html.ValidationSummary(excludeFieldErrors: true)

        <fieldset>
            <legend>Vul hieronder uw email adres in en selecteer de EBooks die u wilt mailen</legend>
            <ol>
                <li class="email">
                    <label for="email" @if (!ModelState.IsValidField("email")) {<text>class="error-label"</text>}>Email adres</label>
                    <input type="text" id="email" name="email" value="@email" disabled="@passwordSent" @Validation.For("email") />
                    @Html.ValidationMessage("email")
                </li>
            </ol>
            <p class="form-actions">
                <input type="submit" value="Send instructions" disabled="@passwordSent" />
            </p>
        </fieldset>
    </form>
} else {
   <p class="message-info">
       Uw wachtwoord kan niet gereset worden. Neem contact op met de website beheerder.
   </p>
}